.pageTourist
	background linear-gradient(#ddd, #dff, #fff)
.milder
		width 200px
		height 100%
		padding-top 20px
		padding-bottom 200px
		background white
		overflow-y auto
	.main
		width 100%
		height 100%
		color red
